
.DS_Store
CEDAR/.ipynb_checkpoints/fizzBuzz-checkpoint.ipynb
CEDAR/.ipynb_checkpoints/logistic-checkpoint.ipynb
CEDAR/.ipynb_checkpoints/main-checkpoint.ipynb
CEDAR/logs/events.out.tfevents.1541107288.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541107309.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541108957.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541109114.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541110978.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541114590.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541116309.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541118531.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541121650.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541121893.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541122032.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541122133.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541122821.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541126684.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541126873.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541126996.Atrayees-MacBook-Air.local
CEDAR/logs/events.out.tfevents.1541132295.Atrayees-MacBook-Air.local
